@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 14px/1.25 $font-roboto;
    color: $font-color;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.title-20 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 27px;
    margin-bottom: 23px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px);
        width: 50px;
        height: 2px;
        background: $font-color;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-33 {
    width: calc(33.3% - 30px);
    flex-shrink: 0;
    margin: 15px;
}