@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 14px/1.25 $font-roboto;
    color: $font-color;
    background: $red;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

section {
    padding: 92px 0;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-title {
    font-size: 20px;
    font-family: $font-montserrat;
    font-weight: 400;
    color: $font-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    padding-bottom: 27px;
    margin-bottom: 23px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: calc(50% - 25px);
        width: 50px;
        height: 2px;
        background-color: $font-color; 
    }
}
.main-description {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    padding-bottom: 71px;

    @include screen(992) {
        padding: 15px 0;
    }
}

.main-button {
    border: 2px solid $font-color-banner;
    border-radius: 2px;
    font: 400 16px/1.5 $font-montserrat;
    color: $font-color-banner;
    width: 180px;
    padding: 11px 0;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
    transition: .5s;

    &:hover {
        background: $font-color-banner;
        color: $red;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    @include screen(768) {
        flex-direction: column;
        align-items: center;
    }

    .col-33 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        flex-shrink: 0;

        @include screen(768) {
            width: 100%;
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .col-50 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        flex-shrink: 0;

        @include screen(768) {
            width: 100%; 
        }
    }
}