.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {

    }

    &__navigation {

        a {
            color: #000;

            @include screen(1200) {
                color: #f00;
            }
        }
    }
}