.main-banner {
    background-color: rgba(0,0,0,0.451);
    background-size: cover;
    width: 100%;
    min-height: 50vh;
    position: relative;
    box-shadow: inset 0 0 0 200vw rgba(0,0,0,.451);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__container {
        padding: 305px 0 260px;
    }

    &__title3 {
        font: 400 48px/1.5 $font-montserrat;
        color: $font-color-banner;
        text-transform: uppercase;
        padding-bottom: 7px;
    }

    &__text {
        font: 400 20px/1.2 $font-roboto;
        color: $font-color-banner;
        padding-bottom: 52px;
    }

    &__button {
        border: 2px solid $font-color-banner;
        font: 400 16px/1.5 $font-montserrat;
        color: $font-color-banner;
        width: 180px;
        padding: 11px 0;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0);

        &:hover {
            background: $font-color-banner;
            color: #f00;
        }
    }
}
  
  